:root {
  --white: #ffffff;
  --purple: #6D5458;
  --black: #333333;
}
/**
* common
**/
body {
  margin: 0;
  font-size: 62.5%;
}
@media (max-width: 991px) {
  body {
    font-size: 57.5%;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 50%;
  }
}
body:after {
  content: '';
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  z-index: 10000000;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: bodyfadeout .5s linear 0s infinite;
          animation: bodyfadeout .5s linear 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
@keyframes bodyfadeout {
  0% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; z-index: -1; }
}
* {
  font-size: 1.0rem;
  line-height: 2;
}
@media (max-width: 991px) {
  * {
    font-size: 0.9rem;
    line-height: 2;
  }
}
@media (max-width: 767px) {
  * {
    font-size: 0.9rem;
    line-height: 2;
  }
}
ol, ul {
  margin: 0;
  padding: 0;
}
ol li,
ul li {
  list-style-type: none;
}
a {
  color: var(--black);
  text-decoration: none;
}
figure {
  margin: 0;
}
img {
  max-width: 100%;
}
.App {
  text-align: center;
}
h2{
  color: var(--purple);
}
h2 {
  font-size: 1.4rem;
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.2rem;
  }
}
/**
* layout
**/
.l_container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  max-width: 1400px;
  padding: 0 1rem;
  opacity: 0;
  -webkit-animation: fadeIn 1s ease .5s infinite;
          animation: fadeIn 1s ease .5s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.l_main {
  width: calc(100% - 20px);
  margin: 0 20px 0 0;
}
@media (max-width: 991px) {
  .l_main {
    width: calc(100% - 1rem);
    margin: 0 1rem 0 0;
  }
}
@media (max-width: 767px) {
  .l_main {
    width: 100%;
    margin: 0 0 1rem;
  }
  .l_container {
    margin: .5rem auto;
    padding: 0 .5rem;
  }
}


/**
* components
**/

/**
* item-card
**/
.c_itemlist {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.c_itemlist .c_itemlistli {
  width: calc(100% / 2 - 5px);
  text-align: center;
}
.c_itemlist .c_itemlistimage {
  width: 100%;
}
.c_itemlist .c_itemlistbutton {
  border: none;
  background: transparent;
  cursor: pointer;
}
.c_itemlist .c_itemlistname,
.c_itemlist .c_itemlistdesc {
  margin: .25rem 0;
}
@media (max-width: 767px) {
  .c_itemlist {
    gap: 0px;
  }
  .c_itemlist .c_itemlistli {
    width: calc(100% / 2);
  }
}
/**
* module
**/
.m_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 700px;
  transform: translate(-50%, -50%);
  background: var(--white);
  padding: 1rem 1rem;
  z-index: 150;
  min-height: 50%;
  overflow: scroll;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -webkit-animation: modalfadeout .5s ease 0s infinite;
          animation: modalfadeout .5s ease 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
@keyframes modalfadeout {
  0% { opacity: 0; z-index: -1; transform: translate(-50%, -30%);}
  100% { opacity: 1; transform: translate(-50%, -50%); }
}
.m_modal_figure {
  width: 100%;
}
.m_modal_img {
  width: 100%;
} 
.m_modal_close {
  position: absolute;
  text-indent: -9999px;
  border: none;
  background: transparent;
  top: 0.5rem;
  right: 1rem;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0;
  padding: 0;
  cursor: pointer;
}
.m_modal_close:before,
.m_modal_close:after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: black;
  transform: rotate(45deg);
}
.m_modal_close:after {
  transform: rotate(-45deg);  
}
.m_background {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000000;
  opacity: .7;
  z-index: 100;
}
.m_modal_detail p {
  margin-top: .5rem;
  margin-bottom: 0;
}
.m_modal_detail p:empty {
  margin:0;
}
@media (max-width: 991px) {
  .m_modal {
    width: 75%;
  }
}
@media (max-width: 767px) {
  .m_modal {
    width: 90%;
    min-width: auto;
  }
}
